*.sql linguist-language=SQL

# (Opcional) Evita que arquivos de dados influenciem a linguagem principal
*.csv linguist-detectable=false
*.json linguist-detectable=false
*.xlsx linguist-detectable=false
